In [1]:
#Importing libraries
import numpy as np
import pandas as pd

In [2]:
#Importing dataset
house_data = pd.read_csv('Melbourne_housing_FULL.csv')

In [3]:
house_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [4]:
len(house_data)

34857

In [5]:
house_data.shape

(34857, 21)

In [6]:
pd.set_option('display.max_columns',0)

In [7]:
house_data.head()

       Suburb             Address  Rooms Type      ...       Lattitude Longtitude             Regionname Propertycount
0  Abbotsford       68 Studley St      2    h      ...        -37.8014   144.9958  Northern Metropolitan        4019.0
1  Abbotsford        85 Turner St      2    h      ...        -37.7996   144.9984  Northern Metropolitan        4019.0
2  Abbotsford     25 Bloomburg St      2    h      ...        -37.8079   144.9934  Northern Metropolitan        4019.0
3  Abbotsford  18/659 Victoria St      3    u      ...        -37.8114   145.0116  Northern Metropolitan        4019.0
4  Abbotsford        5 Charles St      3    h      ...        -37.8093   144.9944  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [8]:
#removing duplicates
house_data = house_data.drop_duplicates()

In [9]:
house_data.shape

(34856, 21)

In [10]:
house_data.describe()

              Rooms         Price      Distance      ...           Lattitude    Longtitude  Propertycount
count  34856.000000  2.724700e+04  34855.000000      ...        26880.000000  26880.000000   34853.000000
mean       3.031013  1.050173e+06     11.184808      ...          -37.810634    145.001845    7572.962901
std        0.969947  6.414671e+05      6.788952      ...            0.090281      0.120167    4428.131940
min        1.000000  8.500000e+04      0.000000      ...          -38.190430    144.423790      83.000000
25%        2.000000  6.350000e+05      6.400000      ...          -37.862950    144.933500    4385.000000
50%        3.000000  8.700000e+05     10.300000      ...          -37.807600    145.007800    6763.000000
75%        4.000000  1.295000e+06     14.000000      ...          -37.754092    145.071900   10412.000000
max       16.000000  1.120000e+07     48.100000      ...          -37.390200    145.526350   21650.000000

[8 rows x 13 columns]

In [11]:
house_data.describe

<bound method NDFrame.describe of                    Suburb              Address      ...                       Regionname Propertycount
0              Abbotsford        68 Studley St      ...            Northern Metropolitan        4019.0
1              Abbotsford         85 Turner St      ...            Northern Metropolitan        4019.0
2              Abbotsford      25 Bloomburg St      ...            Northern Metropolitan        4019.0
3              Abbotsford   18/659 Victoria St      ...            Northern Metropolitan        4019.0
4              Abbotsford         5 Charles St      ...            Northern Metropolitan        4019.0
5              Abbotsford     40 Federation La      ...            Northern Metropolitan        4019.0
6              Abbotsford          55a Park St      ...            Northern Metropolitan        4019.0
7              Abbotsford         16 Maugie St      ...            Northern Metropolitan        4019.0
8              Abbotsford         53 Turner St      ...            Northern Metropolitan        4019.0
9              Abbotsford         99 Turner St      ...            Northern Metropolitan        4019.0
10             Abbotsford       129 Charles St      ...            Northern Metropolitan        4019.0
11             Abbotsford         124 Yarra St      ...            Northern Metropolitan        4019.0
12             Abbotsford  121/56 Nicholson St      ...            Northern Metropolitan        4019.0
13             Abbotsford        17 Raphael St      ...            Northern Metropolitan        4019.0
14             Abbotsford        98 Charles St      ...            Northern Metropolitan        4019.0
15             Abbotsford     217 Langridge St      ...            Northern Metropolitan        4019.0
16             Abbotsford      18a Mollison St      ...            Northern Metropolitan        4019.0
17             Abbotsford   6/241 Nicholson St      ...            Northern Metropolitan        4019.0
18             Abbotsford        10 Valiant St      ...            Northern Metropolitan        4019.0
19             Abbotsford  403/609 Victoria St      ...            Northern Metropolitan        4019.0
20             Abbotsford            2 Rich St      ...            Northern Metropolitan        4019.0
21             Abbotsford    25/84 Trenerry Cr      ...            Northern Metropolitan        4019.0
22             Abbotsford    106/119 Turner St      ...            Northern Metropolitan        4019.0
23             Abbotsford   411/8 Grosvenor St      ...            Northern Metropolitan        4019.0
24             Abbotsford      40 Nicholson St      ...            Northern Metropolitan        4019.0
25             Abbotsford  123/56 Nicholson St      ...            Northern Metropolitan        4019.0
26             Abbotsford           22 Park St      ...            Northern Metropolitan        4019.0
27             Abbotsford    13/84 Trenerry Cr      ...            Northern Metropolitan        4019.0
28             Abbotsford        45 William St      ...            Northern Metropolitan        4019.0
29             Abbotsford   7/20 Abbotsford St      ...            Northern Metropolitan        4019.0
...                   ...                  ...      ...                              ...           ...
34827      West Footscray         13 Barton St      ...             Western Metropolitan        5058.0
34828      West Footscray          30 Gwelo St      ...             Western Metropolitan        5058.0
34829      West Melbourne     9/11 Anderson St      ...            Northern Metropolitan        2230.0
34830      West Melbourne       122 Railway Pl      ...            Northern Metropolitan        2230.0
34831         Westmeadows        35 Arnside Cr      ...            Northern Metropolitan        2474.0
34832         Westmeadows        2/8 Forman St      ...            Northern Metropolitan        2474.0
34833       Wheelers Hill     45 Chancellor Dr      ...       South-Eastern Metropolitan        7392.0
34834       Wheelers Hill         112 Jells Rd      ...       South-Eastern Metropolitan        7392.0
34835       Wheelers Hill           20 Mill Ct      ...       South-Eastern Metropolitan        7392.0
34836       Wheelers Hill          9 Walden Av      ...       South-Eastern Metropolitan        7392.0
34837        Williamstown      13 Kingshott Cl      ...             Western Metropolitan        6380.0
34838        Williamstown   11/81 Melbourne Rd      ...             Western Metropolitan        6380.0
34839        Williamstown     24/18 Station Rd      ...             Western Metropolitan        6380.0
34840        Williamstown      3/2 Thompson St      ...             Western Metropolitan        6380.0
34841        Williamstown        5 Thompson St      ...             Western Metropolitan        6380.0
34842        Williamstown        34 Twyford St      ...             Western Metropolitan        6380.0
34843  Williamstown North          32 Edina St      ...             Western Metropolitan         802.0
34844             Windsor     4/16 Lewisham Rd      ...            Southern Metropolitan        4380.0
34845             Windsor           13 Mary St      ...            Southern Metropolitan        4380.0
34846             Wollert           10 Alma Rd      ...            Northern Metropolitan        2940.0
34847             Wollert      27 Birchmore Rd      ...            Northern Metropolitan        2940.0
34848             Wollert        16 Gunther Wy      ...            Northern Metropolitan        2940.0
34849             Wollert      35 Kingscote Wy      ...            Northern Metropolitan        2940.0
34850             Wollert     15 Rockgarden Wy      ...            Northern Metropolitan        2940.0
34851          Yarraville        78 Bayview Rd      ...             Western Metropolitan        6543.0
34852          Yarraville          13 Burns St      ...             Western Metropolitan        6543.0
34853          Yarraville        29A Murray St      ...             Western Metropolitan        6543.0
34854          Yarraville       147A Severn St      ...             Western Metropolitan        6543.0
34855          Yarraville     12/37 Stephen St      ...             Western Metropolitan        6543.0
34856          Yarraville     3 Tarrengower St      ...             Western Metropolitan        6543.0

[34856 rows x 21 columns]>

In [12]:
type(house_data)

pandas.core.frame.DataFrame

In [13]:
house_data.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [14]:
#Numerical data
numerical_data=house_data.select_dtypes(['float64','int64']).columns
numerical_data

Index(['Rooms', 'Price', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'Lattitude', 'Longtitude',
       'Propertycount'],
      dtype='object')

In [15]:
#Categorical Data
categorical_data=house_data.select_dtypes(['object']).columns
categorical_data

Index(['Suburb', 'Address', 'Type', 'Method', 'SellerG', 'Date', 'CouncilArea',
       'Regionname'],
      dtype='object')

In [16]:
#Correcting Data types
for col in house_data.columns:
    if(house_data[col].dtype == 'object'):
        house_data[col] = house_data[col].astype('category')

In [17]:
house_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34856 entries, 0 to 34856
Data columns (total 21 columns):
Suburb           34856 non-null category
Address          34856 non-null category
Rooms            34856 non-null int64
Type             34856 non-null category
Price            27247 non-null float64
Method           34856 non-null category
SellerG          34856 non-null category
Date             34856 non-null category
Distance         34855 non-null float64
Postcode         34855 non-null float64
Bedroom2         26639 non-null float64
Bathroom         26630 non-null float64
Car              26128 non-null float64
Landsize         23046 non-null float64
BuildingArea     13741 non-null float64
YearBuilt        15550 non-null float64
CouncilArea      34853 non-null category
Lattitude        26880 non-null float64
Longtitude       26880 non-null float64
Regionname       34853 non-null category
Propertycount    34853 non-null float64
dtypes: category(8), float64(12), int64(1)
memory usage: 5.7 MB

In [18]:
pd.isnull(house_data).sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7609
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [19]:
#filling null values
ist=round(house_data['Bedroom2'].mean())
print(ist)

3

In [20]:
house_data['Bedroom2'].fillna(ist,inplace=True)

In [21]:
bath=round(house_data['Bathroom'].mean())
house_data['Bathroom'].fillna(bath,inplace=True)

In [22]:
land = round(house_data['Landsize'].mean())
house_data['Landsize'].fillna(land,inplace=True)

In [23]:
type(numerical_data)

pandas.core.indexes.base.Index

In [24]:
house_data['Distance'].value_counts()

11.2    1420
13.8     681
9.2      665
7.8      662
10.5     660
8.4      604
4.6      585
14.7     566
5.2      565
11.4     521
13.9     499
9.7      470
7.5      468
6.4      459
5.3      437
13.0     427
14.0     425
6.2      403
12.0     400
16.7     394
8.8      389
7.7      384
6.3      366
20.6     356
5.9      353
12.1     350
8.0      339
2.6      338
17.9     338
7.0      333
        ...
12.5       9
39.0       7
47.4       7
29.9       7
33.3       7
17.6       7
37.5       7
48.1       6
43.3       6
3.7        6
1.4        6
18.7       5
43.4       5
35.5       4
31.6       4
30.4       3
23.6       2
26.1       2
34.6       2
45.2       2
20.1       2
29.3       2
33.8       2
39.8       2
29.5       1
33.0       1
31.4       1
30.6       1
22.9       1
32.6       1
Name: Distance, Length: 215, dtype: int64

In [25]:
house_data['Distance'].mode()

0    11.2
dtype: float64

In [26]:
#Outliers Treatment
import seaborn as sns

In [27]:
sns.boxplot(house_data['Distance'])

In [28]:
q1 = house_data['Distance'].quantile(0.25)
q1

6.4

In [29]:
q3 = house_data['Distance'].quantile(0.75)
q3

14.0

In [30]:
##IQR = q3 - q1
IQR = q3 - q1
IQR

7.6

In [31]:
floor = 1.5 * IQR - q1
floor

4.999999999999998

In [32]:
cap = q3 + 1.5 * IQR
cap

25.4

In [33]:
house_data = house_data[(house_data['Distance'] >= floor) & (house_data['Distance'] <= cap)]

In [34]:
len(house_data)

28364

In [35]:
house_data.describe()

              Rooms         Price      Distance      ...           Lattitude    Longtitude  Propertycount
count  28364.000000  2.227700e+04  28364.000000      ...        21830.000000  21830.000000   28362.000000
mean       3.116803  1.054722e+06     11.520121      ...          -37.807774    145.005659    7464.459982
std        0.948039  6.285928e+05      4.561749      ...            0.083134      0.114861    4367.111382
min        1.000000  8.500000e+04      5.000000      ...          -38.033140    144.611190     121.000000
25%        3.000000  6.500000e+05      7.800000      ...          -37.869968    144.923555    4380.000000
50%        3.000000  8.800000e+05     11.200000      ...          -37.802240    145.020500    6567.000000
75%        4.000000  1.290000e+06     14.000000      ...          -37.746572    145.077930   10331.000000
max       16.000000  1.120000e+07     25.200000      ...          -37.530400    145.305890   21650.000000

[8 rows x 13 columns]

In [36]:
house_data.shape

(28364, 21)

In [37]:
#Feature engineering
#Feature extraction
house_data.loc[house_data['Landsize'] >15000, 'Cost'] = 'High'
house_data.loc[(house_data['Landsize'] >1000)&(house_data['Landsize'] <=15000), 'Cost'] = 'Medium'
house_data.loc[house_data['Landsize'] <1000, 'Cost'] = 'Low'

C:\Users\ra20024902\Downloads\WinPython-64bit-3.6.2.0Qt5\python-3.6.2.amd64\lib\site-packages\pandas\core\indexing.py:337: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\ra20024902\Downloads\WinPython-64bit-3.6.2.0Qt5\python-3.6.2.amd64\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [38]:
house_data.head()

          Suburb          Address  Rooms Type ...   Longtitude            Regionname Propertycount Cost
66  Airport West    154 Halsey Rd      3    t ...     144.8780  Western Metropolitan        3464.0  Low
67  Airport West    50 Bedford St      3    h ...     144.8755  Western Metropolitan        3464.0  Low
68  Airport West    50 Bedford St      3    h ...     144.8755  Western Metropolitan        3464.0  Low
69  Airport West  5 Harrington Rd      3    h ...     144.8736  Western Metropolitan        3464.0  Low
70  Airport West       23 Hart St      2    h ...     144.8880  Western Metropolitan        3464.0  Low

[5 rows x 22 columns]

In [39]:
#Feature normalization
int_columns = house_data.select_dtypes(['int64','float64']).columns
int_columns.value_counts()

Bathroom         1
Longtitude       1
Distance         1
Bedroom2         1
Landsize         1
Price            1
YearBuilt        1
Rooms            1
Car              1
Postcode         1
Lattitude        1
BuildingArea     1
Propertycount    1
dtype: int64

In [40]:
##feature z-score
from scipy.stats import zscore

In [45]:
house_int = house_data[int_columns].apply(zscore)

In [46]:
house_out = house_int.drop(['Car','BuildingArea','Price','YearBuilt','Lattitude','Longtitude','Propertycount'], axis =1)

In [47]:
house_out

          Rooms  Distance  Postcode  Bedroom2  Bathroom  Landsize
66    -0.123207  0.434025 -0.852657 -0.153627  0.406637 -0.357378
67    -0.123207  0.434025 -0.852657 -0.153627  0.406637 -0.775946
68    -0.123207  0.434025 -0.852657 -0.153627  0.406637 -0.775946
69    -0.123207  0.434025 -0.852657 -0.153627 -1.102831  0.025273
70    -1.178035  0.434025 -0.852657 -1.332281 -1.102831 -0.400202
71    -0.123207  0.434025 -0.852657 -0.153627  0.406637 -0.445788
72    -0.123207  0.434025 -0.852657 -1.332281 -1.102831 -0.375336
73    -1.178035  0.434025 -0.852657 -1.332281 -1.102831 -0.543868
74    -1.178035  0.434025 -0.852657 -0.153627  0.406637  0.044613
75    -0.123207  0.434025 -0.852657 -0.153627  0.406637  0.044613
76     1.986448  0.434025 -0.852657 -0.153627  0.406637  0.044613
77     0.931621  0.434025 -0.852657 -0.153627  0.406637  0.044613
78     0.931621  0.434025 -0.852657 -0.153627  0.406637  0.044613
79    -0.123207  0.434025 -0.852657 -1.332281 -1.102831  0.080530
80     0.931621  0.434025 -0.852657 -0.153627 -1.102831  0.048757
81     3.041276  0.434025 -0.852657  3.382335  1.916104  0.572312
82    -1.178035  0.434025 -0.852657 -1.332281 -1.102831 -0.623990
83    -1.178035  0.434025 -0.852657 -1.332281 -1.102831 -0.581166
84    -0.123207  0.434025 -0.852657 -0.153627  0.406637  0.044613
85    -1.178035  0.434025 -0.852657 -1.332281 -1.102831 -0.610176
86    -0.123207  0.434025 -0.852657 -0.153627 -1.102831  0.692495
87    -0.123207  0.434025 -0.852657 -0.153627  0.406637  0.044613
88    -0.123207  0.434025 -0.852657 -0.153627 -1.102831 -0.775946
89    -0.123207  0.434025 -0.852657 -0.153627  0.406637  0.044613
90    -0.123207  0.434025 -0.852657 -0.153627 -1.102831 -0.409871
91    -0.123207  0.434025 -0.852657 -0.153627  0.406637  0.044613
92    -0.123207  0.434025 -0.852657 -0.153627  0.406637  0.044613
93     0.931621  0.434025 -0.852657 -0.153627  0.406637  0.044613
94    -1.178035  0.434025 -0.852657 -1.332281 -1.102831 -0.510714
95    -0.123207  0.434025 -0.852657 -0.153627  0.406637  0.044613
...         ...       ...       ...       ...       ...       ...
34818  0.931621  0.653243 -0.215372  1.025027  0.406637 -0.018932
34819 -0.123207  0.653243 -0.215372 -0.153627 -1.102831  0.032180
34820  0.931621  0.697087 -1.022599  1.025027  0.406637  0.099870
34821 -0.123207  0.697087 -1.022599 -0.153627  0.406637  0.714598
34822 -1.178035  0.697087 -1.022599 -1.332281 -1.102831  0.323658
34823  1.986448  0.697087 -1.022599  2.203681  0.406637  0.025273
34824  1.986448  0.697087 -1.022599  2.203681  1.916104  0.830636
34825  0.931621  0.697087 -1.022599  1.025027  1.916104  1.040611
34826  0.931621 -1.122423 -1.277513  1.025027 -1.102831 -0.473416
34827  0.931621 -1.122423 -1.277513  1.025027 -1.102831 -0.267586
34828 -0.123207 -1.122423 -1.277513 -0.153627 -1.102831 -0.140496
34831  0.931621  1.091679 -0.753523  1.025027  0.406637 -0.002355
34832  0.931621  1.091679 -0.753523 -0.153627  0.406637  0.044613
34833  0.931621  1.135523  0.676826  1.025027  0.406637  0.287742
34834  0.931621  1.135523  0.676826  1.025027  0.406637  0.210383
34835 -0.123207  1.135523  0.676826 -0.153627  0.406637  0.159270
34836  1.986448  1.135523  0.676826  2.203681  0.406637  0.244918
34837  1.986448 -1.034735 -1.220866  2.203681  1.916104 -0.154310
34838 -1.178035 -1.034735 -1.220866 -0.153627  0.406637  0.044613
34839 -1.178035 -1.034735 -1.220866 -0.153627  0.406637  0.044613
34840 -1.178035 -1.034735 -1.220866 -0.153627  0.406637  0.044613
34841 -1.178035 -1.034735 -1.220866 -1.332281  0.406637 -0.607413
34842 -0.123207 -1.034735 -1.220866 -0.153627  0.406637 -0.326987
34843 -0.123207 -1.034735 -1.220866 -0.153627 -1.102831 -0.299358
34851 -0.123207 -1.144344 -1.263351 -0.153627 -1.102831 -0.378099
34852  0.931621 -1.144344 -1.263351  1.025027 -1.102831  0.043232
34853 -1.178035 -1.144344 -1.263351 -1.332281  0.406637 -0.640567
34854 -1.178035 -1.144344 -1.263351 -1.332281 -1.102831 -0.472035
34855 -0.123207 -1.144344 -1.263351 -0.153627  0.406637  0.044613
34856 -1.178035 -1.144344 -1.263351 -1.332281 -1.102831 -0.430593

[28364 rows x 6 columns]

In [48]:
house_out.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28364 entries, 66 to 34856
Data columns (total 6 columns):
Rooms       28364 non-null float64
Distance    28364 non-null float64
Postcode    28364 non-null float64
Bedroom2    28364 non-null float64
Bathroom    28364 non-null float64
Landsize    28364 non-null float64
dtypes: float64(6)
memory usage: 1.5 MB